<!-- <div class="modal-movie-lightbox is-open">
    <div class="modal-movie-overlay"> -->
<article class="modal-movie-wrapper ">
    <div class="card-poster-wrapper">
        <img src="https://image.tmdb.org/t/p/w1280/9PEH3llx95PHR6OWrmy4VqsJB41.jpg" class="modal-movie-poster" />
    </div>
    <div class="modal-movie-information">
        <h2 class="modal-movie-title">Какой-то супер-фильм</h2>
        <ul class="modal-movie-data">
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Vote / Votes</p>
                <p class="modal-movie-description">
                    <span class="modal-movie-description-vote">7.3</span>
                    <span class="modal-movie-data-slash">/</span>
                    <span class="modal-movie-description-votes">1250</span>
                </p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Popularity</p>
                <p class="modal-movie-description">100.2</p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Original Title</p>
                <p class="modal-movie-description-title">Сдохни или умри</p>
            </li>
            <li class="modal-movie-item">
                <p class="modal-movie-data-name">Genre</p>
                <p class="modal-movie-description">Thriller
                </p>
            </li>
        </ul>
        <p class="modal-movie-about">About</p>
        <p class="modal-movie-descript">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia
            aliquid
            distinctio soluta, officiis suscipit adipisci, quo commodi minima architecto saepe quaerat quis
            cupiditate
            excepturi repellendus velit quas nulla facilis nostrum.</p>
        <div class="modal-movie-button-wrapper">
            <button data-name='watched' class="modal-movie-button modal-left-button" type="button">add to
                watched</button>
            <button data-name='queue' class="modal-movie-button" type="button">add to queue</button>
        </div>
    </div>
</article>
<!-- </div>
    <button type="button" class="modal-movie-close-button" data-action="close-lightbox"></button>
</div> -->