<div class="backdrop js-backdrop">
    <div class="modal">
        <h2 class="team-heading">Our Team</h2>
        <ul class="team-members">
            <li class="member">
                <img src="../images/Alex.jpg" alt="Alex" width="75px" />
                <div class="member-info">
                    <p>Животенко Александр</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/Andrei.jpg" alt="Andrey" width="75px" />
                <div class="member-info">
                    <p>Андрей Вахоцкий</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/Timur.jpg" alt="Timur" width="75px" />
                <div class="member-info">
                    <p>Тимур Замесов</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/Eugenia.jpg" alt="Eugenia" width="75px" />
                <div class="member-info">
                    <p>Евгения Гриценко</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/fedir.jpg" alt="fedir" width="75px" />
                <div class="member-info">
                    <p>Федор Гавриляк</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/igor.jpg" alt="igor" width="75px" />
                <div class="member-info">
                    <p>Игорь Надеен</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/ivan.jpg" alt="ivan" width="75px" />
                <div class="member-info">
                    <p>Иван Витенко</p>
                </div>
            </li>
            <li class="member">
                <img src="../images/lilia.jpg" alt="lilia.jpg" width="75px" />
                <div class="member-info">
                    <p>Elena Panasyuk</p>
                </div>
            </li>
        </ul>
        <button class="team-btn-close js-team-close" type="button" title="Close"></button>
    </div>
</div>